html,
body,
div#root, 
div.table-content,
.main-content {
  width: 100%;
  height: 100%;
  background-color:#3CB371;
}

.image-full {
  width: 100%;
}

.main-title {
  z-index: 1000;
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 4vw;
}

.sub-title {
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  color: crimson;
  font-size: 4vw;
}

.content {
  z-index: 1000;
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 4vw;
  width: 100%;
}

.table-content {
  z-index: 1000;
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  width: 100%;
  font-size: 2vw;
  border: 10px solid black;
  border-radius: 3px;
  text-align: center;
}

.table {
  overflow: auto;
  display: block;
  table-layout: auto;
  display: table;
}

.main-button {
  width: 50%;
  height: 5%;
}

div.react-datepicker-wrapper input,
div.table-content input,
div.content select,
h6,
table * {
  color: black;
}

h6 {
  width: 25%;
}

table tbody {
  width: 100%;
}

.giphy-embed {
  margin: 2vw;
  width: 65%;
}

table.table > tbody > tr > td, table.table>thead>tr>th {
  border: 0px;
}
