.image-full {
  width: 100%;
}

.main-title {
  float: left;
  position: absolute;
  //left: 25%;
  top: 5%;
  z-index: 1000;
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.sub-title {
  float: left;
  position: absolute;
  //left: 25%;
  top: 20%;
  z-index: 1000;
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  color: crimson;
  font-size: 2em;
}

.content {
  float: left;
  position: absolute;
  left: 40%;
  bottom: 10%;
  z-index: 1000;
  background-color: transparent;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
}

.main-button {
  width: 50%;
  height: 5%;
}

.main-content {
  position: relative;
}
